<h4>View all contacts</h4>
<h5>Search contact</h5>
<form class="form-inline" role="form">
	<div class="form-group">
		<label class="sr-only" for="txtsearchbox">Enter Name</label>
		<input type="text" class="form-control" id="txtsearchbox" placeholder="Enter Name" ng-model="searchText.name">
	</div>
</form>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th data-ng-click="setOrder('name')" style="cursor:pointer">Name</th>
				<th data-ng-click="setOrder('email')" style="cursor:pointer">E-mail</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-show="!contacts.length">
				<td colspan="3">No contacts</td>
			</tr>
			
			<tr ng-show="contacts.length" ng-repeat="contact in contacts | filter:searchText | orderBy:orderby:reverse">
				<td><a href="#/view-contacts/{{ contact.id }}">{{ contact.name }}</a></td>
				<td>{{ contact.email }}</td>
				<td><a href="#/edit-contacts/{{ contact.id }}" class="btn btn-primary">Edit</a> <input type="button" class="btn btn-primary" value="Delete" data-ng-click="confirmDel(contact.id)"></td>
			</tr> 

		</tbody>
	</table>
</div>
